#passff-button {
list-style-image: url("chrome://passff/skin/passff_medium.png");
}

toolbar[iconsize="large"] #passff-button {
  list-style-image: url("chrome://passff/skin/passff_medium.png");
}

toolbar[iconsize="small"] #passff-button {
  list-style-image: url("chrome://passff/skin/passff_small.png");
}

