@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document url("chrome://passff/content/newPasswordWindow.xul") {
  hbox > label:first-child {
    text-align: right;
    width: 8em;
  }

  .errors-container {
    text-align: right;
  }

  #gen-password-length {
    width: 3em;
  }
}

