
body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.passff_popup_menu {
  all: initial;
  position: absolute;
  border: 1px solid #888;
  background-color: #fff;
  z-index: 1000;
  max-height: 10em;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  direction: rtl; /* force scrollbar to appear on the left */
}

.passff_popup_menu * {
  all: initial;
  font-size: 13px;
  font-family: sans-serif;
  direction: ltr; /* force scrollbar to appear on the left */
}

.passff_popup_menu *:hover {
  font-size: 13px;
  font-family: sans-serif;
}

.passff_popup_menu > div {
  display: table;
  width: 100%;
}

.passff_popup_menu > div.alert {
  display: block;
  padding: 1em;
  box-sizing: border-box;
}

.passff_popup_menu div.passff_entry {
  display: table-row;
}

.passff_popup_menu div.passff_entry:last-child > div {
  border-bottom: 0;
}

.passff_popup_menu div.passff_entry > div {
  display: table-cell;
  border-bottom: 1px solid #b6b6b3;
}

.passff_popup_menu div.passff_entry > div:first-child {
  width: 100%;
}

.passff_popup_menu button,
.passff_popup_menu button:hover {
  cursor: pointer;
  position:relative;
  display: block;
  width: 100%;
  height: 2.2em;
  margin: 0;
  padding: 0 0.5em;
  border: 0;
  background-color: #f0f0f0;
  color: #000;
  outline: none;
  box-sizing: border-box;
}

.passff_popup_menu button:hover {
  background-color: #e6e6e6;
}

.passff_popup_menu button:after {
  content: '';
  display: block;
  position: absolute;
  top: 0.2em;
  right: 0;
  width: 1px;
  height: 1.8em;
  background-color: #b6b6b3;
}

.passff_popup_menu div.passff_entry:hover button:after {
  height: 2.2em;
  top: 0;
}

.passff_popup_menu div:last-child > button:after {
  width: 0;
}

.passff_popup_menu button.passff_key {
  overflow: hidden;
}

.passff_popup_menu button.passff_key span {
  cursor: pointer;
  display: block;
  float: right;
  white-space: nowrap;
  color: #000;
}

.passff_popup_menu button.passff_button {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  min-width: 32px;
}
