body {
    padding: 0.5rem;
    box-sizing: border-box;
}

body > div.tabbox {
    min-width: 400px;
    min-height: 300px;
}

fieldset p > label:first-child {
    width: 11rem;
}

fieldset > div {
    padding: 0 0.8rem;
}

fieldset > div > p:before {
    content: "Error: ";
}

fieldset > div > p:first-child {
    margin-top: 0.5rem;
}

fieldset > div > p:last-child {
    margin-bottom: 0.5rem;
}

fieldset > div > p {
    color: #a00;
    margin: 0;
    padding: 0;
    line-height: 1.4rem;
}