
#passwordGenerator {
    padding: 0;
    box-sizing: border-box;
}

#passwordGenerator div.tab {
    margin: 0;
}

#passwordGenerator div.tab > input[type=radio] ~ label:hover {
    background-color: #f5f5f5;
    color: #000;
}

#passwordGenerator div.tab > input[type=radio] ~ label {
    cursor: pointer;
    margin: 0;
    padding: 0.2rem 1.5rem;
    background-color: #f0f0f0;
    color: #666;
}

#passwordGenerator div.tab > input[type=radio] ~ fieldset {
    display: none;
    box-sizing: border-box;
    padding: 0 1.5rem 0.5rem;
}

#passwordGenerator div.tab > input[type=radio]:checked ~ fieldset {
    display: block;
}

#passwordGenerator div.tab > input[type=radio]:checked ~ label {
    cursor: auto;
    padding-bottom: 0;
    background-color: #fff;
    color: #000;
}

#passwordGenerator fieldset > div > p:before {
    content: "Error: ";
}

#passwordGenerator fieldset > div > p:first-child {
    margin-top: 0.5rem;
}

#passwordGenerator fieldset > div > p:last-child {
    margin-bottom: 0.5rem;
}

#passwordGenerator fieldset > div > p {
    color: #a00;
    margin: 0;
    padding: 0;
    line-height: 1.4rem;
}

#passwordGenerator fieldset p {
    padding: 0.3rem 0;
    margin: 0;
}

#passwordGenerator fieldset p:first-child {
    padding-top: 0;
}

#passwordGenerator fieldset p label {
    margin-top: 0;
}

#passwordGenerator fieldset p textarea {
    height: 5rem;
}
