#passwordGenerator {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#passwordGenerator fieldset {
  margin: 0;
  padding: 0.5rem 1.5rem;
  box-sizing: border-box;
}

#passwordGenerator fieldset p {
  padding: 0.3rem 0;
  margin: 0;
}

#passwordGenerator fieldset p:first-child {
  padding-top: 0;
}

#passwordGenerator fieldset p label {
  margin-top: 0;
}

#passwordGenerator fieldset p textarea {
  height: 5rem;
}

#passwordGenerator fieldset p button {
  border: 0;
  padding: 1em;
}

#passwordGenerator fieldset div.tabbox {
  border-radius: 0.3rem;
  background-color: #f5f5f5;
  margin: 0.5em 0 0 -0.5em;
  padding: 1em;
  width: 90%;
}

#passwordGenerator fieldset div.tabbox div.tabpanel input[type="text"],
#passwordGenerator fieldset div.tabbox div.tabpanel input[type="password"] {
  width: calc(100% - 0.5em);
}

.tabbox .tabpanel {
  display: none;
}

.tabbox > input:nth-child(1):checked ~ .tabpanels > .tabpanel:nth-child(1),
.tabbox > input:nth-child(3):checked ~ .tabpanels > .tabpanel:nth-child(2) {
  display: block;
}

.tabbox > input {
  display: none;
}

.tabbox > input + label {
  display: inline-block;
  cursor: pointer;
  background-color: #ddd;
  padding: 0.5em 1em;
  border-radius: 0.1em;
  margin-right: 0.5em;
  font-size: 0.8em;
}

.tabbox > input:checked + label {
  background-color: #aaa;
}

.tabbox .tabpanels {
  margin: 0.5em 0 0 0;
  padding: 0;
}

#passwordGenerator fieldset div.add-password-errors > p:before {
  content: "Error: ";
}

#passwordGenerator fieldset div.add-password-errors > p:first-child {
  margin-top: 0.5rem;
}

#passwordGenerator fieldset div.add-password-errors > p:last-child {
  margin-bottom: 0.5rem;
}

#passwordGenerator fieldset div.add-password-errors > p {
  color: #a00;
  margin: 0;
  padding: 0;
  line-height: 1.4rem;
}
