html, body, div {
  margin: 0;
  padding: 0;
}

body {
  width: 28rem;
  font-family: sans-serif;
}

.searchbar,
.results,
.actions {
  border-bottom: 1px #aaa solid;
  padding: 0.4rem 0.3rem;
  box-sizing: border-box;
}

.searchbar input {
  width: 100%;
  box-sizing: border-box;
}

.results button {
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
}

.results select {
  width: 100%;
  box-sizing: border-box;
}

#clipboard-field-container,
#clipboard-field {
  height: 0; width: 0;
  margin: 0; padding: 0;
  border: 0; line-height: 0;
  font-size: 0;
}

}
